@define-color accent_color #cba6f7;
@define-color accent_bg_color #cba6f7;
@define-color accent_fg_color #1e1e2e;
@define-color destructive_color #f38ba8;
@define-color destructive_bg_color #f38ba8;
@define-color destructive_fg_color #1e1e2e;
@define-color success_color #a6e3a1;
@define-color success_bg_color #a6e3a1;
@define-color success_fg_color #1e1e2e;
@define-color warning_color #fab387;
@define-color warning_bg_color #fab387;
@define-color warning_fg_color #1e1e2e;
@define-color error_color #f38ba8;
@define-color error_bg_color #f38ba8;
@define-color error_fg_color #1e1e2e;
@define-color window_bg_color #1e1e2e;
@define-color window_fg_color #cdd6f4;
@define-color view_bg_color #181825;
@define-color view_fg_color #cdd6f4;
@define-color headerbar_bg_color #181825;
@define-color headerbar_fg_color #cdd6f4;
@define-color headerbar_border_color rgba(0, 0, 0, 0.7);
@define-color headerbar_backdrop_color #1e1e2e;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.9);
@define-color sidebar_bg_color #181825;
@define-color sidebar_fg_color #cdd6f4;
@define-color sidebar_backdrop_color #1e1e2e;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.36);
@define-color secondary_sidebar_bg_color #11111b;
@define-color secondary_sidebar_fg_color #cdd6f4;
@define-color secondary_sidebar_backdrop_color #181825;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.36);
@define-color card_bg_color rgba(49, 50, 68, 0.6);
@define-color card_fg_color #cdd6f4;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color dialog_bg_color #313244;
@define-color dialog_fg_color #cdd6f4;
@define-color popover_bg_color #313244;
@define-color popover_fg_color #cdd6f4;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);
@define-color blue_1 #89b4fa;
@define-color blue_2 #74c7ec;
@define-color blue_3 #89dceb;
@define-color blue_4 #89b4fa;
@define-color blue_5 #b4befe;
@define-color green_1 #a6e3a1;
@define-color green_2 #a6e3a1;
@define-color green_3 #a6e3a1;
@define-color green_4 #a6e3a1;
@define-color green_5 #a6e3a1;
@define-color yellow_1 #f9e2af;
@define-color yellow_2 #f9e2af;
@define-color yellow_3 #f9e2af;
@define-color yellow_4 #f9e2af;
@define-color yellow_5 #f9e2af;
@define-color orange_1 #fab387;
@define-color orange_2 #fab387;
@define-color orange_3 #fab387;
@define-color orange_4 #fab387;
@define-color orange_5 #fab387;
@define-color red_1 #f38ba8;
@define-color red_2 #f38ba8;
@define-color red_3 #f38ba8;
@define-color red_4 #f38ba8;
@define-color red_5 #f38ba8;
@define-color purple_1 #cba6f7;
@define-color purple_2 #cba6f7;
@define-color purple_3 #cba6f7;
@define-color purple_4 #cba6f7;
@define-color purple_5 #cba6f7;
@define-color brown_1 #eba0ac;
@define-color brown_2 #eba0ac;
@define-color brown_3 #eba0ac;
@define-color brown_4 #eba0ac;
@define-color brown_5 #eba0ac;
@define-color light_1 #cdd6f4;
@define-color light_2 #bac2de;
@define-color light_3 #a6adc8;
@define-color light_4 #9399b2;
@define-color light_5 #7f849c;
@define-color dark_1 #6c7086;
@define-color dark_2 #585b70;
@define-color dark_3 #45475a;
@define-color dark_4 #313244;
@define-color dark_5 #1e1e2e;
