@define-color theme_bg_color #1e1e2e;
@define-color theme_fg_color #cdd6f4;
@define-color theme_base_color #181825;
@define-color theme_text_color #cdd6f4;
@define-color theme_selected_bg_color #cba6f7;
@define-color theme_selected_fg_color #1e1e2e;
@define-color insensitive_bg_color #313244;
@define-color insensitive_fg_color #6c7086;
@define-color borders #45475a;
@define-color unfocused_borders #313244;
@define-color error_color #f38ba8;
@define-color warning_color #fab387;
@define-color success_color #a6e3a1;
@define-color destructive_color #f38ba8;
@define-color content_view_bg #181825;
